import hydra
from loguru import logger
from mhpy.utils.common import configure_logger
from mhpy.utils.tracking import assert_clean_git
from omegaconf import DictConfig
from omegaconf import OmegaConf


@hydra.main(version_base=None, config_name="config")
def train(cfg: DictConfig) -> None:
    configure_logger()
    assert_clean_git()

    logger.info("🚀 Starting training...")
    logger.debug(f"Full config: \n{OmegaConf.to_yaml(cfg)}")

    # Training...

    logger.success("✅ Training complete.")


if __name__ == "__main__":
    train()
